.jumbotron{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c8/Nevada_Seattle.jpg');
    
    background-size: cover;
    color: black;
    text-align: center;
    background-attachment: fixed;
    height: 800px;
}

.circle{
    border-radius: 150px;
}

